<template>
          <router-link to="/"><md-button class="md-raised md-primary" @click="updateBlack">Go to White</md-button></router-link>
</template>

<style>



</style>


<script>

export default {
  name: 'black',
  created(){this.$emit("updateBlack", true)},
  methods: {
  		updateBlack(){ this.$emit("updateBlack", false) }
  	}
  }

</script>
