<template>
          <router-link to="/black"><md-button class="md-raised md-primary" @click="updateBlack" >Go to Black</md-button></router-link>
</template>

<style>



</style>


<script>

export default {
  name: 'white',
  methods: {
  		updateBlack(){ this.$emit("updateBlack", true) }
  	}
  }

</script>
