<template>
    <main :class="{ black : isBlack }">
    <transition name="page" mode="out-in">
    <router-view @updateBlack="setBlack" />
    </transition>
    </main>
  </div>
</template>

<script>
export default {
  name: 'app',
  data(){return { isBlack : false }},
  methods: {
  		setBlack(isBlack){this.isBlack = isBlack}
  	}
  }

</script>

<style>
body {
  margin: 0;
}

.black{
	background-color: black !important;
}

.black .md-raised{
	background-color: #ffffff;
}

#app {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
}

main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  transition: all .3s ease;
  animation-delay: .4s
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}

.page-enter-active, .page-leave-active{
	transition: transform .5s ease, opacity .2s linear !important;
	animation-delay: .6s;
}

.page-enter{
	opacity: 0;
	transform: translateY(-10%) scale(0.7);
}

.page-leave-to{
	opacity: 0;
	transform: translateY(10%) scale(1.2);
}

.page-leave, .page-enter-to{
	opacity: 1;
	transform: translateY(0) scale(1);

	}

</style>
